.mat-form-field {
  display: block;
}

.mat-dialog-content {
  overflow: visible;
}

.mat-dialog-actions {
  padding: 1rem 0;
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  margin-right: 10px;
}
